/* styles/styles.css */

/* Global styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    font-size: 7px;
    flex-direction: row;
    width: 100%;
    height: 100vh;
    position: relative;
}

header {
    background-color: #333;
    color: #fff;
    padding: 1px;
    text-align: center;
}

footer {
    background-color: #333;
    color: #fff;
    padding: 1px 2px;
    text-align: center;
    /* position: fixed; */
    /* bottom: 0; */
    width: 100%;
    margin-top: 20%;
    /* position: relative; */
}


/* User List styles */
.user-list {
    width: 70%;
    padding: 10px;
}

.user-list table {
    width: 100%;
    border-collapse: collapse;
}

.user-list th, .user-list td {
    border: 1px solid #ddd;
    padding: 5px;
}

.user-list th {
    background-color: #f2f2f2;
}

.user-list tr:nth-child(even) {
    background-color: #f2f2f2;
}

.user-list td button {
    margin-right: 2px;
}

.user-list button {
    padding: 4px 8px; /* Adjust padding to reduce button size */
    font-size: 7px; /* Optionally, reduce font size */
    margin:0px;
}

/* On hover effect */
.user-list button:hover {
    background-color: #555;
}

/* User Form styles */
.user-form {
    position: relative; /* Ensure the form is positioned relative to its parent */
    z-index: 1;
    width: 30%;
    padding: 20px;
    font-size: 7px;
}

.user-form h2 {
    margin-bottom: 20px;
}

.user-form form {
    display: flex;
    flex-direction: column;
}

.user-form label {
    margin-bottom: 8px;
}

.user-form input[type="text"],
.user-form input[type="email"],
.user-form input[type="tel"],
.user-form input[type="password"] {
    padding: 5px;
    margin-bottom: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 7px;
}

.user-form button {
    padding: 10px 20px;
    background-color: rgb(196, 189, 231);
    color: rgb(6, 2, 2);
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.user-form button:hover {
    background-color: #555;
}
